.header__line {
    border-top: 1px;
    border-right: 1px;
    border-left: 1px;
    border-color: #545454;
    margin: 41px 0 0;
}

@media (max-width:770px) {
    .header__line {
        margin: 36px 0 0;
    }
}

@media (max-width:450px) {
    .header__line {
        margin: 31.6px 0 0;
    }
}