.popup__close_btn_image {
    position: absolute;
    bottom: calc(100% + 4px);
    left: calc(100% + 4px);
}

@media (max-width: 400px) {
    .popup__close_btn_image {
        bottom: 107.33%;
        left: 84.68%;
    }
}
